Repository d4l-data4life/hc-coroutine-util-sdk-kmp, changes with the labels that .github/labeler.yml gives for each.
All labels: build, dependencies, documentation, coroutine-util-library, sample-android, sample-jvm

.github/labeler.yml:

build:
  - .github/**/*

dependencies:
  - buildSrc/**/*

documentation:
  - docs/**/*
  - sdk-doc/**/*
  - README.adoc
  - LICENSE
  - CHANGELOG.adoc
  - CODE-OF-CONDUCT.adoc
  - CONTRIBUTION.adoc
  - readmeOSS.adoc

# Platform
coroutine-util-library:
  - util-coroutine/**/*

# Sample
sample-android:
  - sample-android/**/*

sample-jvm:
  - sample-jvm/**/*

Adjust description
  README.adoc
  buildSrc/src/main/kotlin/LibraryConfig.kt
Labels: dependencies, documentation

Adapt latest project structure
  .github/workflows/d4l-ci-latest-version.yml
  .github/workflows/d4l-ci-publish-release.yml
  .github/workflows/d4l-ci-pull-request-validation.yml
  .idea/compiler.xml
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/sdk/util/coroutine/LibraryConfig.kt
  buildSrc/src/main/kotlin/care/data4life/sdk/util/coroutine/dependency-updates.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/sdk/util/coroutine/download-scripts.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/sdk/util/coroutine/publishing-config.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/sdk/util/coroutine/publishing.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/sdk/util/coroutine/quality-spotless.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/sdk/util/coroutine/versioning.gradle.kts
  coroutine-util/build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  gradlePlugin/coroutine-util-dependency/build.gradle.kts
  gradlePlugin/coroutine-util-dependency/src/main/kotlin/care/data4life/sdk/util/coroutine/dependency/Dependency.kt
  gradlePlugin/coroutine-util-dependency/src/main/kotlin/care/data4life/sdk/util/coroutine/dependency/DependencyPlugin.kt
  gradlePlugin/coroutine-util-dependency/src/main/kotlin/care/data4life/sdk/util/coroutine/dependency/GradlePlugin.kt
  gradlePlugin/coroutine-util-dependency/src/main/kotlin/care/data4life/sdk/util/coroutine/dependency/Repository.kt
  gradlePlugin/coroutine-util-dependency/src/main/kotlin/care/data4life/sdk/util/coroutine/dependency/Version.kt
  settings.gradle.kts
Labels: build, dependencies

Update comments
  buildSrc/src/main/kotlin/care/data4life/sdk/util/coroutine/publishing-config.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/sdk/util/coroutine/publishing.gradle.kts
Labels: dependencies

Clean up
  buildSrc/src/main/kotlin/Dependencies.kt
  buildSrc/src/main/kotlin/GradlePlugins.kt
  buildSrc/src/main/kotlin/Repository.kt
  buildSrc/src/main/kotlin/Versions.kt
Labels: dependencies

Invoke Dependencies
  coroutine-util/build.gradle.kts
Labels: none

Clean LibraryConfig
  buildSrc/src/main/kotlin/care/data4life/sdk/util/coroutine/LibraryConfig.kt
Labels: dependencies

Clean package name
  buildSrc/src/main/kotlin/care/data4life/sdk/util/coroutine/LibraryConfig.kt
Labels: dependencies

Remove binaries
  .idea/compiler.xml
  README.md
  coroutine-util/build.gradle.kts
Labels: none

Bump SDK Util
  buildSrc/src/main/kotlin/Versions.kt
Labels: dependencies

Bump latest changes
  .github/workflows/d4l-ci-latest-version.yml
  .github/workflows/d4l-ci-publish-release.yml
  .github/workflows/d4l-ci-pull-request-validation.yml
  README.adoc
  coroutine-util/build.gradle.kts
  gradlePlugin/coroutine-util-dependency/src/main/kotlin/care/data4life/sdk/util/coroutine/dependency/Dependency.kt
  gradlePlugin/coroutine-util-dependency/src/main/kotlin/care/data4life/sdk/util/coroutine/dependency/Repository.kt
  gradlePlugin/coroutine-util-dependency/src/main/kotlin/care/data4life/sdk/util/coroutine/dependency/Version.kt
Labels: build, documentation

Change ignore rules
  .gitignore
  .idea/compiler.xml
Labels: none

Change ignore rules
  .gitignore
  .idea/compiler.xml
Labels: none

Update docs
  CONTRIBUTING.adoc
  DEVELOPING.adoc
  README.adoc
Labels: documentation
