Repository d4l-data4life/hc-coroutine-util-sdk-kmp, pull requests merged in 2021-09, with the labels that each got.

#4 Change CODEOWNERS
  .github/CODEOWNERS
Labels: build

#5 Change CoroutineScopeFactory
  CHANGELOG.adoc
  coroutine-util/src/androidMain/kotlin/care/data4life/sdk/util/coroutine/CoroutineScopeFactory.kt
  coroutine-util/src/commonMain/kotlin/care/data4life/sdk/util/coroutine/CoroutineScopeFactory.kt
  coroutine-util/src/commonMain/kotlin/care/data4life/sdk/util/coroutine/CoroutineScopeFactoryContract.kt
  coroutine-util/src/commonTest/kotlin/care/data4life/sdk/util/coroutine/CoroutineScopeFactoryTest.kt
  coroutine-util/src/iosMain/kotlin/care/data4life/sdk/util/coroutine/CoroutineScopeFactory.kt
  coroutine-util/src/jvmMain/kotlin/care/data4life/sdk/util/coroutine/CoroutineScopeFactory.kt
  gradle.properties
Labels: documentation, feature

#7 Remove objc dependency
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  CHANGELOG.adoc
  coroutine-util/build.gradle.kts
  gradlePlugin/coroutine-util-dependency/src/main/kotlin/care/data4life/sdk/util/coroutine/dependency/Dependency.kt
  gradlePlugin/coroutine-util-dependency/src/main/kotlin/care/data4life/sdk/util/coroutine/dependency/Repository.kt
  gradlePlugin/coroutine-util-dependency/src/main/kotlin/care/data4life/sdk/util/coroutine/dependency/Version.kt
Labels: documentation

#6 [SDK-673] Change setup to latest
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/d4l-ci-label-configuration.yml
  .github/workflows/d4l-ci-latest-version.yml
  .github/workflows/d4l-ci-pull-request-labeler.yml
  .github/workflows/d4l-ci-pull-request-precheck.yml
  .github/workflows/d4l-ci-pull-request-validation.yml
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/copyright/d4l_closed.xml
  .idea/copyright/data4life.xml
  .idea/copyright/profiles_settings.xml
  .idea/inspectionProfiles/d4l_inspections.xml
  .idea/inspectionProfiles/ktlint.xml
  .idea/inspectionProfiles/profiles_settings.xml
  CHANGELOG.adoc
  CODE-OF-CONDUCT.adoc
  CONTRIBUTING.adoc
  DEVELOPING.adoc
  Dangerfile.df.kts
  README.adoc
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/gradle/util/coroutine/config/LibraryConfig.kt
  buildSrc/src/main/kotlin/care/data4life/gradle/util/coroutine/script/dependency-updates.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/gradle/util/coroutine/script/download-scripts.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/gradle/util/coroutine/script/publishing-config.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/gradle/util/coroutine/script/publishing.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/gradle/util/coroutine/script/quality-spotless.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/gradle/util/coroutine/script/versioning.gradle.kts
  coroutine-util/build.gradle.kts
  gradlePlugin/coroutine-util-dependency/build.gradle.kts
  gradlePlugin/coroutine-util-dependency/src/main/kotlin/care/data4life/gradle/util/coroutine/dependency/Dependency.kt
  gradlePlugin/coroutine-util-dependency/src/main/kotlin/care/data4life/gradle/util/coroutine/dependency/DependencyPlugin.kt
  gradlePlugin/coroutine-util-dependency/src/main/kotlin/care/data4life/gradle/util/coroutine/dependency/GradlePlugin.kt
  gradlePlugin/coroutine-util-dependency/src/main/kotlin/care/data4life/gradle/util/coroutine/dependency/Repository.kt
  gradlePlugin/coroutine-util-dependency/src/main/kotlin/care/data4life/gradle/util/coroutine/dependency/Version.kt
Labels: documentation, build, dependencies, scripts

#8 [SDK-674] Bump updates
  .github/workflows/d4l-ci-latest-version.yml
  .github/workflows/d4l-ci-publish-release.yml
  .github/workflows/d4l-ci-pull-request-validation.yml
  CHANGELOG.adoc
  DEVELOPING.adoc
  README.adoc
  build.gradle.kts
  buildSrc/build.gradle.kts
  coroutine-util/build.gradle.kts
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
  gradlePlugin/coroutine-util-dependency/src/main/kotlin/care/data4life/gradle/util/coroutine/dependency/Version.kt
  settings.gradle.kts
Labels: documentation, build, dependencies, breaking, scripts

#9 Prepare Release 0.2.0
  CHANGELOG.adoc
  README.adoc
  assets/images/badge-release-latest.svg
  assets/images/badges.adoc
  buildSrc/src/main/kotlin/care/data4life/gradle/util/coroutine/script/download-scripts.gradle.kts
  gradlePlugin/coroutine-util-dependency/src/main/kotlin/care/data4life/gradle/util/coroutine/dependency/Repository.kt
  gradlePlugin/coroutine-util-dependency/src/main/kotlin/care/data4life/gradle/util/coroutine/dependency/Version.kt
Labels: documentation, dependencies, scripts
